<div class="product_category-form-container">
<div class="product_category-form">
  <h3>Nieuwe product categorie</h3>
  <div class="terug-text">
  <%= link_to "(terug zonder opslaan)", product_categories_path %>
</div>
<%= simple_form_for [@product_category] do |f|%>
<div class="col-12">
  <%= f.input :naam, placeholder: 'Naam van product categorie' %>
</div>

<div class="col-12">
  <%= f.input :photo, as: :file %>
</div>

<div class="col-12">
  <%= f.input :banner, as: :file %>
</div>
<br>
  <div class="col-12">
  <%= f.button :submit, "Opslaan", class:"save-btn" %>
  </div>
<% end %>

</div>
<br>
<div class="product_category-form-items">
  <div class="product-category-overview-item">
  <%= link_to new_product_category_product_path(@product_category) do %>
  <div class="new-small-card-container">
  <div class="new-small-card">
    <i class="far fa-plus-square fa-5x"></i>
    <!-- <p></p> -->
  </div>
  </div>
    <p> Nieuw</p>
  <% end %>
  </div>

  <% @product_category.products.each do |product| %>
  <div class="product-category-overview-item">
  <%= link_to edit_product_category_product_path(@product_category, product ) do %>
    <!-- <div class="new-small-card-container"> -->
      <% if product.product_photos.any? %>
      <div class="new-small-card-container">
        <%= cl_image_tag product.product_photos.last.photo, height: 100, width: 100, crop: :fill %>
      </div>
        <div class="small-card-text">
        <p> <%= product.naam %></p>
        <p> <%= number_to_currency(product.prijs, unit: "€", separator: ",", delimiter: "") %></p>
        </div>
    <% else %>
    <div class="new-small-card-container">
      <div class="new-small-card-no-photo">
        <i class="fas fa-exclamation-triangle fa-5x"></i>
        <p></p>
      </div>
      </div>
        <p> <%= product.naam %></p>
        <p> <%= number_to_currency(product.prijs, unit: "€", separator: ",", delimiter: "") %></p>
    <% end %>
  <% end %>
  <%= link_to product_category_product_path(@product_category, product ),
  method: :delete,
  data: {confirm: t('.delete_confirm')} do %>
      <p class=verwijder>verwijder</p>
  <% end %>
  </div>
  <% end %>
</div>
</div>
