<div class="product_category-form-container">
<div class="product_category-form">
  <h3>Nieuwe product categorie</h3>

<%= simple_form_for [@product_category] do |f|%>
<div class="col-12">
  <%= f.input :naam, placeholder: 'Naam van product categorie' %>
</div>

<div class="col-12">
  <%= f.input :photo, as: :file %>
</div>
<br>
  <div class="col-12">
  <%= f.button :submit, "Opslaan", class:"save-btn" %>
  </div>
<% end %>
</div>
<br>
<div class="product_category-form-items">
  <%= link_to new_product_category_product_path(@product_category) do %>
  <div class="new-small-card-container">
  <div class="new-small-card">
    <i class="far fa-plus-square fa-5x"></i>
    <p></p>
    Nieuw
  </div>
  </div>
  <% end %>
  <% @product_category.products.each do |product| %>
  <%= link_to edit_product_category_product_path(@product_category, product ) do %>
  <%#= cl_image_tag photo.key.first, height: 300, width: 400, crop: :fill %>
  <%= product.naam %>
  <%= product.prijs %>
  <% end %>
  <% end %>
</div>
</div>
