<div class="banner-container">
  <% if !@product_category.banner.attachment.nil? %>
<div class="banner" id="banner-product" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.0)), url('<%= cl_image_path @product_category.banner.key %>');">
  <div class="container">
    <h1><%= @product_category.naam %></h1>
  </div>
</div>
<% end %>
</div>


<!-- test -->

<div class="product-cards-container" id="product-category-products-overview">
<% @product_category.products.each do |product| %>

<div class="card-trip">
  <% if product.product_photos.any? %>
  <%= cl_image_tag product.product_photos.last.photo %>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= product.naam %></h2>
    </div>
    <h2 class="card-trip-pricing"><%= number_to_currency(product.prijs, unit: "€", separator: ",", delimiter: "")%></h2>
  </div>
      <p><%= simple_format(product.omschrijving) %></p>
</div>

<% end %>
</div>
<!-- test -->




