<div class="banner-container">
  <% if !@product_category.banner.attachment.nil? %>
<div class="banner" id="banner-product" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.0)), url('<%= cl_image_path @product_category.banner.key %>');">
  <div class="container">
    <h1><%= @product_category.naam %></h1>
  </div>
</div>
<% end %>
</div>



<div class="product-cards-container">
<% @product_category.products.each do |product| %>

<div class="product-card">
<%= link_to product_category_product_path(@product_category, product) do  %>
<% if product.product_photos.where(profile_picture: true).any? %>
<%= cl_image_tag product.product_photos.where(profile_picture: true).last.photo, height: 200, crop: :fill %>
<%= product.naam %>
<%= product.id %>
<% else %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>
</div>
<% end %>
<% end %>
</div>
<% end %>

</div>
