<div class="banner-container-product">
  <!-- test -->


  <!-- test -->
  <% if !@product_category.banner.attachment.nil? %>
  <div class="banner-product-avatar-container">
    <%= cl_image_tag @product_category.banner.key, class:"avatar-product" %>
    <% end %>
    <p><%= @product_category.naam %></p>
  </div>
</div>


<!-- test -->

<div class="product-cards-container" id="product-category-products-overview">
<% @product_category.products.each do |product| %>

<div class="card-trip">
  <% if product.product_photos.any? %>
  <%= cl_image_tag product.product_photos.last.photo %>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= product.naam %></h2>
    </div>
    <h2 class="card-trip-pricing"><%= number_to_currency(product.prijs, unit: "€", separator: ",", delimiter: "")%></h2>
  </div>
    <div class="card-trip-infos" id="description-card">
      <div class="card-trip-infos-editor">
      <p><%= simple_format(product.omschrijving) %></p>
      </div>
    </div>
</div>

<% end %>
</div>
<!-- test -->




