<div class="product_category-form-container">
<div class="product_category-form">
  <h3>Nieuw product</h3>

<%= simple_form_for [@product_category, @product] do |f|%>
<div class="col-12">
  <%= f.input :naam, placeholder: 'Product' %>
</div>

<div class="col-12">
  <%#= f.input :omschrijving, placeholder: 'Omschrijving',:input_html => {:style => 'width: 100%', :rows => 5, :class => "tinymce"} %>
</div>

<%= f.text_area_tag :omschrijving, "Hello, World!", :class => "tinymce" %>


<div class="col-12">
  <%= f.input :prijs, placeholder: 'Prijs van product' %>
</div>

<!-- start cocoon -->

<div id="wrapper-nested-fields">
<%= f.simple_fields_for :product_photos do |product_photo| %>
  <div class="reservation-details">
  <%= render 'product_photo_fields', f: product_photo %>
</div>
<% end %>

<div>
<%= link_to_add_association f, :product_photos do %>
  <div class="option-add-option-price">
    <div class="prices-border col-lg-7">
      <i class="fas fa-plus"></i> Voeg foto toe
    </div>
  </div>
  <% end %>
</div>
<!-- end cocoon -->

<br>
  <div class="col-12">
  <%= f.button :submit, "Opslaan", class:"save-btn" %>
  </div>
<% end %>
</div>
</div>

